* {
  /* cursor: none; */
  font-style: normal; 
  font-weight: normal; 
}
.App {
  /* font-family: sans-serif; */
  text-align: center;
}

.full-page-height {
  height: 100vh;
  min-width: 540px;
}

.header {
  background: #fac905;
}


td.text-center, th.text-center {
  /* font-size: 2.8vh; */
  /* font-size: 2vmin; */
  font-size: 1.6vw;
}

.text-size-vw {
  font-size: 4vw;
}

.remove-text-size-vw {
  font-size: 2.6vw;
}

table.table-bordered {
  border:1px solid #000;
}
table.table-bordered > thead > tr > th{
  border:1px solid #000;
}
table.table-bordered > tbody > tr > td{
  border:1px solid #000;
}

/* Nine or Fraction style*/
.bg-blue {
  background-color: #ade8f1;
}
.bg-blue-2 {
  background-color: #98dbe3;
}

.bg-grey {
  background-color: #A5c1c5;
}

.bg-green {
  background-color: #00FA9A;
}
.bg-green-2 {
  background-color: #4fffbb;
}