.App {
  font-family: sans-serif;
  text-align: center;
}

.full-page-height {
  height: 100vh;
  min-width: 540px;
}

.header {
  position: sticky;
  top: 0;
  background: #fac905;
}

* {
  cursor: none;
}

td.text-center, th.text-center {
  /* font-size: 2.8vh; */
  /* font-size: 2vmin; */
  font-size: 1.6vw;
}
